<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Magemore_Calltab>
            <version>0.1.0</version>
        </Magemore_Calltab>
    </modules>
    <global>
        <models>
            <calltab>
                <class>Magemore_Calltab_Model</class>
                <resourceModel>calltab_mysql4</resourceModel>
            </calltab>
            <calltab_customer>
                <class>Magemore_Calltab_Model_Customer</class>
                <resourceModel>calltab_mysql4</resourceModel>
            </calltab_customer>
            <calltab_mysql4>
                <class>Magemore_Calltab_Model_Mysql4</class>
                <entities>
                    <customer>
                        <table>calltab_customer</table>
                    </customer>
                </entities>
            </calltab_mysql4>
        </models>
        <blocks>
            <calltab>
                <class>Magemore_Calltab_Block</class>
            </calltab>
        </blocks>
        <helpers>
            <calltab>
                <class>Magemore_Calltab_Helper</class>
            </calltab>
        </helpers>
        <resources>
            <calltab_setup>
                <setup>
                    <module>Magemore_Calltab</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </calltab_setup>
        </resources>
    </global>
    <adminhtml>
        <events>
            <core_block_abstract_to_html_before>
                <observers>
                    <calltab_adminhtml_block_html_before_addTab>
                        <class>calltab/observer_adminhtml_controller</class>
                        <method>addCustomerManagerTab</method>
                    </calltab_adminhtml_block_html_before_addTab>
                </observers>
            </core_block_abstract_to_html_before>
            <customer_save_after>
                <observers>
                    <calltab_customer_save>
                        <class>calltab/observer_adminhtml_controller</class>
                        <method>saveCustomer</method>
                    </calltab_customer_save>
                </observers>
            </customer_save_after>
            <customer_delete_commit_after>
                <observers>
                    <calltab_customer_delete>
                        <class>calltab/observer_adminhtml_controller</class>
                        <method>deleteCustomer</method>
                    </calltab_customer_delete>
                </observers>
            </customer_delete_commit_after>
            <controller_action_predispatch_adminhtml_index_index>
                <observers>
                    <calltab_manager_startup>
                        <class>calltab/observer_adminhtml_controller</class>
                        <method>managerStartup</method>
                    </calltab_manager_startup>
                </observers>
            </controller_action_predispatch_adminhtml_index_index>
        </events>
        <layout>
            <updates>
                <calltab>
                    <file>calltab.xml</file>
                </calltab>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <admincalltab>
                <use>admin</use>
                <args>
                    <module>Magemore_Calltab</module>
                    <frontName>admincalltab</frontName>
                </args>
            </admincalltab>
        </routers>
    </admin>

    <frontend>
        <routers>
            <Magemore_Calltab>
                <use>standard</use>
                <args>
                    <module>Magemore_Calltab</module>
                    <frontName>calltabproduct</frontName>
                </args>
            </Magemore_Calltab>
        </routers>
        <layout>
            <updates>
                <magemore_calltabproduct>
                    <file>magemore_calltabproduct.xml</file>
                </magemore_calltabproduct>
            </updates>
        </layout>
    </frontend>
    <global>
        <events>
            <sales_order_place_after>
                <observers>
                    <calltab_order_place>
                        <class>calltab/observer_adminhtml_controller</class>
                        <method>placeOrder</method>
                    </calltab_order_place>
                </observers>
            </sales_order_place_after>
        </events>
    </global>
</config>
