<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Magemore_Clearcvv>
			<version>0.0.4</version>
		</Magemore_Clearcvv>
	</modules>
    <global>
		<models>
			<payment>
				<rewrite>
					<method_ccsave>Magemore_Clearcvv_Model_Method_Ccsave</method_ccsave>
				</rewrite>
			</payment>
		</models>
        <blocks>
            <clearcvv>
                <class>Magemore_Clearcvv_Block</class>
            </clearcvv>
			<payment>
				<rewrite>
					<info_ccsave>Magemore_Clearcvv_Block_Info_Ccsave</info_ccsave>
				</rewrite>
			</payment>
			<adminhtml>
				<rewrite>
					<sales_order_view>Magemore_Clearcvv_Block_Sales_Order_View</sales_order_view>
				</rewrite>
			</adminhtml>
        </blocks>
        <helpers>
            <clearcvv>
                <class>Magemore_Clearcvv_Helper</class>
            </clearcvv>
        </helpers>
		<fieldsets>
			<sales_convert_quote_payment>
				<cc_cid_enc>
					<to_order_payment>*</to_order_payment>
				</cc_cid_enc>
			</sales_convert_quote_payment>
			<sales_convert_order_payment>
                <cc_cid_enc>
                    <to_quote_payment>*</to_quote_payment>
                </cc_cid_enc>
			</sales_convert_order_payment>
		</fieldsets>
		<resources>
			<clearcvv_setup>
				<setup>
					<module>Magemore_Clearcvv</module>
		            <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
		        </setup>
		        <connection>
		            <use>core_setup</use>
		        </connection>
			</clearcvv_setup>
		</resources>
    </global>
	<admin>
		<routers>
			<magemore_clearcvv_order>
				<use>admin</use>
				<args>
					<module>Magemore_Clearcvv</module>
					<frontName>adminclearcvv</frontName>
				</args>
			</magemore_clearcvv_order>
		</routers>
	</admin>
</config>
