<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Magemore_Tragento>
            <version>0.0.2</version>
        </Magemore_Tragento>
    </modules>
    <default>
        <carriers>
            <tragentoshipping>
                <active>1</active>
                <allowed_methods>tragentoshipping</allowed_methods>
                <methods>tragentoshipping</methods>
                <sallowspecific>0</sallowspecific>
                <model>Magemore_Tragento_Model_Magento_Shipping</model>
                <name>Tragento Shipping</name>
                <title>Tragento Shipping</title>
                <handling_type>F</handling_type>
            </tragentoshipping>
        </carriers>
    </default>
    <global>
        <models>
            <tragento>
                <class>Magemore_Tragento_Model</class>
                <resourceModel>tragento_mysql4</resourceModel>
            </tragento>
            <tragento_product>
                <class>Magemore_Tragento_Model_Product</class>
                <resourceModel>tragento_mysql4</resourceModel>
            </tragento_product>
            <tragento_sales>
                <class>Magemore_Tragento_Model_Sales</class>
                <resourceModel>tragento_mysql4</resourceModel>
            </tragento_sales>
            <tragento_logs>
                <class>Magemore_Tragento_Model_Logs</class>
                <resourceModel>tragento_mysql4</resourceModel>
            </tragento_logs>
            <tragento_observer>
                <class>Magemore_Tragento_Model_Observer</class>
            </tragento_observer>
            <tragento_mysql4>
                <class>Magemore_Tragento_Model_Mysql4</class>
                <entities>
                    <product>
                        <table>tragento_product</table>
                    </product>
                    <sales>
                        <table>tragento_sales</table>
                    </sales>
                    <logs>
                        <table>tragento_log</table>
                    </logs>
                </entities>
            </tragento_mysql4>
        </models>
        <blocks>
            <tragento>
                <class>Magemore_Tragento_Block</class>
            </tragento>
        </blocks>
        <helpers>
            <tragento>
                <class>Magemore_Tragento_Helper</class>
            </tragento>
        </helpers>
        <resources>
            <tragento_setup>
                <setup>
                    <module>Magemore_Tragento</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </tragento_setup>
        </resources>
    </global>
    <adminhtml>
        <events>
            <admin_system_config_changed_section_tragento>
                <observers>
                    <magemore_tragento>
                        <class>tragento/observer</class>
                        <method>saveSystemConfig</method>
                    </magemore_tragento>
                </observers>
            </admin_system_config_changed_section_tragento>
        </events>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <tragento>
                                            <title>Tragento</title>
                                        </tragento>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <tragento>
                    <file>tragento.xml</file>
                </tragento>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <magemore_tragento_index>
                <use>admin</use>
                <args>
                    <module>Magemore_Tragento</module>
                    <frontName>tragento</frontName>
                </args>
            </magemore_tragento_index>
        </routers>
    </admin>
    <crontab>
        <jobs>
            <Magemore_Tragento>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>tragento/product::processQueueCron</model>
                    <model>tragento/trademe::makeOrders</model>
                    <model>tragento/trademe::checkListed</model>
                </run>
            </Magemore_Tragento>
        </jobs>
    </crontab>
</config>
