<?xml version="1.0"?>
<!--
/**
 *
 * @package Magemore/Tragento
 * @copyright Copyright (c) 2015 Magemore
 * @author Alexandr Martynov <alex@magemore.com>
 */
-->
<config>
    <tabs>
        <tragento translate="label" module="tragento">
            <label>Tragento</label>
            <sort_order>100</sort_order>
        </tragento>
    </tabs>
    <sections>
        <tragento translate="label">
            <label>TradeMe</label>
            <tab>tragento</tab>
            <frontend_type>text</frontend_type>

            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>0</show_in_store>

            <sort_order>0</sort_order>

            <groups>
            	<apiconnect translate="label">
            		<label>Tragento Connect</label>
            		<frontend_type>text</frontend_type>
            		<show_in_default>1</show_in_default>
            		<show_in_website>1</show_in_website>
            		<show_in_store>0</show_in_store>
            		<sort_order>1</sort_order>
            		
            		<fields>
                        <environment translate="label">
                            <label>Environment</label>
                            <frontend_type>select</frontend_type>
                            <source_model>tragento/system_config_source_environment</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                             <sort_order>1</sort_order>
                        </environment>
            			<tragento-consumer-key translate="label">
            				<label>Consumer Key</label>
            				<frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <sort_order>2</sort_order>
            			</tragento-consumer-key>
            			<tragento-consumer-secret translate="label">
            				<label>Consumer Secret</label>
            				<fronted_type>text</fronted_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <sort_order>3</sort_order>
            			</tragento-consumer-secret>
                        <trademeconnect translate="label">
                            <label>Begin Authorisation</label>
                            <comment>Click "Save Config" button before "Begin Authorisation"</comment>
                            <frontend_type>export</frontend_type>
                            <frontend_model>tragento/system_config_authorisation</frontend_model> 
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </trademeconnect>
            		</fields>
            	</apiconnect>
                <api translate="label">
                    <label>Tragento</label>
                    <frontend_type>text</frontend_type>

                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>

                    <sort_order>2</sort_order>

                    <fields>
                        <tragento-watermark  translate="label">
                            <label>Watermark Image</label>
                            <frontend_type>image</frontend_type>
                            <backend_model>adminhtml/system_config_backend_image</backend_model>
                            <upload_dir config="system/filesystem/media" scope_info="1">catalog/product/tragento-watermark</upload_dir>
                            <base_url type="media" scope_info="1">catalog/product/tragento-watermark</base_url>
                            
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>

                            <sort_order>1</sort_order>
                            
                            <comment>Allowed file types: jpeg, gif, png.</comment>
                        </tragento-watermark>
                        <tragento-footer  translate="label comment">
                            <label>Description Footer</label>
                            <frontend_type>text</frontend_type>
                            <comment>Text to add under each product description</comment>

                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>

                            <sort_order>2</sort_order>
                        </tragento-footer>
                    </fields>
                </api>
            </groups>
        </tragento>
        <carriers>
            <groups>
                <tragentoshipping translate="label">
                    <label>Tragento Shipping</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>13</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>
                        <title translate="label">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>
                    </fields>
                </tragentoshipping>
            </groups>
        </carriers>
    </sections>
</config>
